.cabecario-button {
    background-color: transparent;
    border: none;
}

.corpo {
    display: grid;
    height: 100vh;
    /* grid-template-rows: 40vh 40vh 20vh; */
    grid-template-rows: 1.5fr 2fr;
}

.corpo-nome {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.corpo-nome-container {
    max-width: 90vw;
    width: 100vw;
    text-align: center;
}

.corpo-img {
    height: 250px;
    width: 250px;
}

.corpo-nome-detalhes {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.corpo-nome-detalhes-cabecalho {
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.corpo-nome-detalhes-cabecalho h1 {
    color: white;
    font-weight: bold;
    font-size: 25px;
}

.corpo-nome-detalhes-cabecalho h1::first-letter {
    text-transform: uppercase;
}

.corpo-nome-detalhes-cabecalho div button {
    border-radius: 10px;
    background-color: transparent;
    border: white 1px solid;
    color: white;
    margin-right: 10px;
    padding: 5px;
}

.corpo-nome-one {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px 20px 0 0;
    flex: 1;
}

.corpo-nome-one__abilidades {
    max-width: 90vw;
    width: 100vw;
}

.corpo-nome-one__abilidades h2 {
    font-size: 25px;
    font-weight: bold;
    margin: 20px 0;
}

.corpo-nome-one__abilidades ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}

.corpo-nome-one__abilidades ul li {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.corpo-nome-one__abilidades-texto-claro {
    font-size: 18px;
    line-height: 18px;
    color: lightgray;
}

.corpo-nome-one__abilidades-texto-escuro {
    font-size: 18px;
    line-height: 18px;
    color: black;
}